
.shadow-card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: var(--secondary-color);
    color: var(--font-light-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 30px;

    margin-bottom: 20px;
    padding: 2em;
    margin-top: 50px;

}
  
.shadow-card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.none {
    opacity: 0;
}

.card-back-btn {
    font-size: 2em;
    color: var(--font-light-color);
    position: absolute;
    margin-left: 1rem;
}



